<p>agenda-calendar works!</p>
<div class="container">
  <h2>Calendario de Agenda Médica</h2>
  <div style="margin-bottom: 1rem;">
    <label>Médico:</label>
    <select [(ngModel)]="selectedMedicoId">
      <option [ngValue]="null">Seleccione un médico</option>
      <option *ngFor="let medico of medicos" [ngValue]="medico.id">
        {{ medico.nombre }} - {{ medico.especialidad }}
      </option>
    </select>
    <label style="margin-left: 1.5rem;">Semana a mostrar:</label>
    <input type="date" [(ngModel)]="today" (change)="generarFechas()" />
  </div>
  <div *ngIf="selectedMedicoId">
    <table class="calendar-table">
      <thead>
        <tr>
          <th>Hora</th>
          <th *ngFor="let fecha of fechas">{{ fecha }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hora of horas">
          <td>{{ hora }}</td>
          <td *ngFor="let fecha of fechas">
            <ng-container *ngIf="!isReservada(fecha, hora, selectedMedicoId!); else reservada">
              <button class="disponible" (click)="seleccionarHorario(fecha, hora)">Disponible</button>
            </ng-container>
            <ng-template #reservada>
              <span class="reservada" [title]="getPaciente(fecha, hora, selectedMedicoId!)">
                Reservada ({{ getPaciente(fecha, hora, selectedMedicoId!) }})
              </span>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
